<br />
<br />
<br />
<br />
<br />
<p class="gigantic">ABOUT</p>
<br />
<br />
<p style="text-align: center">
  Welcome to PetMe, here we hope to allow others to enjoy the wonders of animals in the short term.  Our mission is to enable others to share in the wonders and happiness that owning a pet can provide.  That's what we think anyway.
</p>
