<div class="background-image">
  <div class="jumbotron container-fluid">

  </div>
</div>

<div class="container">
  <div class="container-form">
  <h1>Editing Pet</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @pet, class: "btn btn-default" %> |
  <%= link_to 'Back', pets_path, class: "btn btn-default" %>
</div>
</div>
