<h1>Welcome!</h1>

<p>Please provide your name, email, and link to your profile picture to continue to our site.</p>

<%= render 'form' %><br>
<%= link_to 'Back', users_path, class: "btn btn-default" %>
