@media (min-width: 600px){

  .div-main {
    height: 243px;
  }
  img {
    width: 240px;
    height: 240px;
    padding: 3px;
  }
  .pet-name {
    height: 81px;
  }
  .pet-availability {
    height: 81px;
  }
  .div-minor {
    height: 81px;
  }

}
