.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@media (min-width: 600px){

  .div-main {
    height: 243px;
  }
  .cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  div .pet-image {
    width: 240px;
    height: 240px;
    padding: 3px;
  }


  .pet-name {
    height: 81px;
  }
  .pet-availability {
    height: 81px;
  }
  .div-minor {
    height: 81px;
  }

}
