//Style show view

.container-show {
  // padding-top: 40px;
  padding-bottom: 20px;
}

.thumbnail {
  background-color: rgba(255,255,255,0.7);
  border-radius: 0px;
}

.thumb-show {
  min-height: 396px;
  padding-top: 20px;
}

@media (max-width: 990px) {
  .thumb-show {
    min-height: 250px;
  }
}
