.container-show {
  // padding-top: 40px;
  padding-bottom: 20px;
}

.thumbnail {
  background-color: white;
  border-radius: 0px;
}

.thumb-show {
  min-height: 300px;
}

.container {
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .thumb-show {
    min-height: 250px;
  }
}
