<div class="container">
  <h1>Categories</h1>

  <div>
     <% @categories.each do |category| %>
        <%= link_to "#{category.name} • #{category.pets.size}", category, class: "btn btn-primary" %> |
     <% end %>
  </div>
</div>
